@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --bg-btn: #000000;
  --btn-text: #ffffff;
}

html.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --bg-btn: #ffffff;
  --btn-text: #000000;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 1000ms, color 1000ms;
}

button, .btn {
  background-color: var(--bg-btn);
  color: var(--btn-text);
  padding: .5rem .75rem;
  border-radius: .5rem;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
