// Colors for light mode
$color-bg-light: #ffffff;
$color-text-light: #000000;
$color-main-navBar-light: #D7D7D7;
$color-room-navBar-light: #F4F4F4;
$color-room-card-light: #D7D7D7;

// Colors for dark mode
$color-bg-dark: #212121;
$color-text-dark: #ffffff;
$color-main-navBar-dark: #171717;
$color-room-navBar-dark: #1A1A1A;
$color-room-card-dark: #171717;
